{% extends 'main.html' %}
{% block article %}
    {% load staticfiles %}
    {% for article in Articles %}
        <div>
            <div class="articles col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-sm-offset-1 col-sm-10">
                <h6>{{ article.article_date }}</h6>
                <h4><a href="/articles/{{ article.id }}/">{{ article.article_title }}</a></h4>
                <p class="text-justify">{{ article.article_text|safe|truncatewords_html:100 }}</p>
                <div class="comments_count"><i class="fa fa-comment"
                                               aria-hidden="true"></i>{{ article.comments_set.count }}</div>
                <div class="article_autor"><a href="#">{{ article.article_author.first_name }} {{ article.article_author.last_name  }}</a></div>
            </div>
        </div>
    {% endfor %}
{% endblock %}